.form-wrapper {
	background: $color-darkgrey;

	@include respond-to(bp-750) {
		padding: 7rem 0;
	}

	.content {
		display: table-cell;
		vertical-align: middle;

		.col_tr {
			max-width: 108rem;
			margin: 0 auto;
			display: block;
			overflow: hidden;
			padding: 0 4rem;
		}

	    .col_l, .col_r {
	    	width: 50%;

	    	@include respond-to(bp-750) {
	    		width: 100%;
	    	}

	    	@include respond-to(small-screens) {
	    		display: block;
	    	}
	    }

	    .col_l {
	    	.form-content {
	    		color: $color-white;

	    		.business-inquires {
	    			@include respond-to(bp-750){
	    				display: none;
	    			}
	    		}

	    		.h4 {
					@include tiempos-medium;

					font-size: 3rem;
					line-height: 4.8rem;
					margin: 0;

					@include respond-to(small-screens) {
						font-size: 2.4rem;
						line-height: 3rem;
					}
	    		}
	    	}
	    }

	    .col_r {
	    	.form-content {
	    		.business-inquires {
	    			display: none;

	    			@include respond-to(bp-750){
	    				display: block;
	    				overflow: hidden;

	    				.col_l, .col_r {
	    					width: 50%;
	    				}

	    				.h5 {
	    					margin-top: 3rem;
	    				}

	    				.copyright {
	    					margin-top: 7rem;
	    					margin-right: 1rem;
	    					text-align: right;

							@include respond-to(small-screens){
								margin-top: 6rem;
							}
	    				}
	    			}
	    		}
	    	}
	    }

	    .business-inquires {
	    	color: $color-white;

    		.h4 {
				@include tiempos-medium;

				font-size: 3rem;
				line-height: 4.8rem;
				margin: 0;

				@include respond-to(bp-750){
					font-size: 2.4rem;
					line-height: 3.2rem;
				}

				@include respond-to(small-screens){
					font-size: 1.8rem;
				}
    		}

			.h5 {
				@extend .good-headline;

				color: $color-lightred;
				margin-top: 5rem;
				font-size: 2.4rem;
				font-weight: 500;
				text-transform: uppercase;

				@include respond-to(bp-750){
					font-size: 1.8rem;
					margin-bottom: 0;
				}

				@include respond-to(small-screens){
					font-size: 1.6rem;
				}
			}

			.copyright {
				@extend .good-headline;

				color: $color-lightgrey;
				font-weight: 500;
				font-size: 1.6rem;
				margin-top: 6rem;

				@include respond-to(small-screens){
					font-size: 1.4rem;
					margin-top: 3.2rem;
				}
			}
	    }
	}

	&.peoplepage_footer {
		background: url('../img/Mountain2.jpg') center no-repeat;
		background-size: cover;

		height: 75%;
		min-height: 51rem;
	}

	&.projectspage_footer {
		background: url('../img/projects/Iceberg-Image.jpg') left top no-repeat;
		background-size: cover;

		height: 75%;
		min-height: 51rem;
	}

	&.purposepage_footer {
		height: 0;

		.main-wrapper & {
			height: 0;
		}
	}

	&.peoplepage_footer, &.projectspage_footer {		

		.content {
			.quote-wrapper {
				display: table;
				width: 100%;
				height: 100%;

				.quote-content {
					display: table-cell;
					vertical-align: middle;

					blockquote {
						@include tiempos-medium-italic;

						max-width: 60rem;
						padding: 0 2rem;
						margin: 0 auto;
						font-size: 2.8rem;
						line-height: 4rem;
						position: relative;
						color: $color-white;

						@include respond-to(bp-750){
							font-size: 2rem;
							line-height: 3.2rem;
						}

						&:before {
							position: absolute;
							content: "";
							width: 10%;
							height: .3rem;
							background: $color-red;
							top: -2rem;
							left: 2rem;

							@include respond-to(bp-750){
								top: -1rem;
							}
						}

						cite {
							@extend .good-headline;

							text-transform: uppercase;
							font-size: 1.8rem;
							font-style: normal;
						}
					}
				}
			}
		}
	}
}

.gs-footer {
	display: table;
	height: 25%;
	width: 100%;
	min-height: 10rem;

	@include respond-to(small-screens) {
		min-height: 7rem;
	}
	

	.col_tr {
		display: table-row;
		width: 100%;
		height: 100%;

		.col_l, .col_r {
			display: table;
			float: left;
			height: 100%;
			text-align: center;

			.content {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.col_l {
			width: 25%;
			background: $color-grey;

			.mobile-logo {
				width: 20%;

				@include respond-to(bp-750){
					width: 30%;
				}
			}
		}

		.col_r {
			width: 75%;
			background: $color-darkgrey;

			.copyright {
				@extend .good-headline;

				color: $color-lightgrey;
				font-weight: 500;
				font-size: 1.6rem;
				text-align: right;
				padding-right: 2rem;

				@include respond-to(small-screens){
					font-size: 1.4rem;
				}
			}
		}
	}
}