{{!-- Intro Section --}}
<div class="intro_content">
	<div class="intro_slider">
		{{#each PageDetails.Intro}}
		<div class="content">
			<h1 class="h1 section_title">
				{{sectionTitle}}
			</h1>
			<h2 class="h2 section_quote">
				{{{quote}}}
			</h2>
		</div>
		{{/each}}

	</div>
</div>