<div class="projects-row-wrap">
	<div class="col_l">
		{{#each col_l}}
			{{>ProjectTileModule}}
		{{/each}}
	</div>
	<div class="col_r">
		{{#each col_r}}
			{{>ProjectTileModule}}
		{{/each}}
	</div>
</div>