<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7"/>
<meta name="viewport" content="width=device-width"/>
<title>{{PageDetails.Description.title}} | {{PageDetails.Description.subtitle}}</title>
<link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">

{{!-- Typekit Fonts --}}
<script src="http://use.typekit.net/gvi1ekg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>