---
bodyClass: Thank-You
---
<div class="main-wrapper">
	<div class="thankyou_section grid_table">
		<div class="col_tr">
			<div class="col_l"></div>
			<div class="col_r">
				<div class="intro_content">
					<div class="content">
						<h1 class="h1 section_title">
							Your email was sent
						</h1>
						<h2 class="h2 section_quote">
							Thank You!
						</h2>
						<h3 class="thank-you-message">
							We have received your email and we'll do our best to reply back at the earliest.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>