---
bodyClass: People Subpage
---
<div class="page-wrapper">
	<div class="people-intro_section grid-table cf">
		<div class="col_l"></div>
		<div class="col_r">
			<div class="content">
				<h1 class="h3 section_title">
					{{PageDetails.PeoplePage.title}}
				</h1>
				<h2 class="h2 section_quote">
					{{{PageDetails.PeoplePage.quote}}}
				</h2>
			</div>
		</div>
	</div>
	<div class="team-section">
		<ul class="team-list" id="team-list">
			<li class="team-member">
				&nbsp;
			</li>
		</ul>
	</div>
	{{>FooterModule PeoplePage=true}}
</div>